header {
    background-color: bisque;
    font-family: Arial;
    border: solid red;
}

header h1 {
    margin: 0px;
    padding: 10px;
    font-size: 250%;
}

nav ul {
    margin: 0px;
    border: 30px solid bisque ;
    padding: 30px;
    background-color: aliceblue;
}